/*Colors*/
$primary: #3582ac;
$primary-light: #4196b8;
$white: #FFFFFF;
$black: #222222;
$gray: #f1f1f1;

/**/
$radius: 10px;

/*Fonts*/
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Rajdhani', serif;
